.top-profiles {
    float: left;
    width: 100%;
    border: 1px solid #e5e5e5;
    margin-bottom: 20px;
}
.pf-hd {
    float: left;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    padding: 20px 20px;
    position: relative;
}
.pf-hd h3 {
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    float: left;
}
.pf-hd i {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 7px;
    color: #b2b2b2;
    font-size: 24px;
}

/* ============== profiles-slider ============== */

.profiles-slider {
    float: left;
    width: 100%;
    padding: 20px;
}
.user-profy {
    float: left;
    width: 100%;
    background-color: #fff;
    text-align: center;
    border-left: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    border-right: 1px solid #ececec;
    -webkit-box-shadow: 0px 0.5px 0.2px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px 0.5px 0.2px rgba(0,0,0,0.24);
    -ms-box-shadow: 0px 0.5px 0.2px rgba(0,0,0,0.24);
    -o-box-shadow: 0px 0.5px 0.2px rgba(0,0,0,0.24);
    box-shadow: 0px 0.5px 0.2px rgba(0,0,0,0.24);
    padding: 20px;
}
.user-profy > img {
    float: none;
    margin-bottom: 6px;
}
.user-profy h3 {
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 4px;
}
.user-profy span {
    color: #b2b2b2;
    font-size: 14px;
    font-weight: 500;
    display: block;
    margin-bottom: 15px;
}
.user-profy ul {
    float: left;
    width: 100%;
    /*margin-bottom: 15px;*/
}
.user-profy ul li {
    display: inline-block;
}
.user-profy ul li a {
    color: #ffffff;
    font-size: 13px;
    padding: 0 8px;
    height: 25px;
    line-height: 25px;
    display: inline-block;
    text-transform: capitalize;
}
.followw {
    background-color: #53d690;
}
.envlp {
    background-color: #e44d3a;
}
.envlp img {
    float: none;
}
.hire {
    background-color: #51a5fb;
}
.user-profy > a {
    float: left;
    width: 100%;
    color: #000000;
    font-size: 14px;
    text-transform: capitalize;
    padding: 15px 0;
    border-top: 1px solid #ececec;
    font-weight: 600;
}
.user-profy > a:hover {
    background-color: #e44d3a;
    color: #fff;
}
.slick-slide img {
    display: inline-block;
}
.slick-slide {
    margin-left:4px;
}
.envlp img {
    position: relative;
    /*top: 2px;*/
}
.no-margin {
    margin: 0;
    border: 0;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    -ms-border-radius: inherit;
    -o-border-radius: inherit;
    border-radius: inherit;
}
.posty {
    float: left;
    width: 100%;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
}
.posty .job-status-bar {
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 20px;
}
.slick-previous:before {
    left: -14px;
    content: '\f104';
    margin-left: -2px;
}
.slick-nexti:before {
    right: -14px;
    content: '\f105';
    padding-left: 3px;
}
.slick-previous:before,
.slick-nexti:before {
    font-size: 24px;
    color: #b7b7b7;
    position: absolute;
    top: 50%;
    line-height: 27px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: fontawesome;
    width: 30px;
    height: 30px;
    background-color: #fff;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
    border: 1px solid #e6e6e6;
    text-align: center;
    cursor: pointer;
}
.slick-previous:hover:before,
.slick-nexti:hover:before {
    background-color: #e44d3a;
    color: #fff;
    border-color: transparent;
}
